<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-e rounded ui fixed menu bg-e"
      aria-label="Twelfth navbar example">
      <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample10"
          aria-controls="navbarsExample10" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample10" style="height:2rem;">
          <ul class="navbar-nav  d-flex justify-content-between" style="width:100%">
            <li class="nav-item">
              <a href="#" class="header nav-link text-gray-e"><img class="logo" src="images/logo.png"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" style="margin-top: 0.3rem;">서비스 소개</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" style="margin-top: 0.3rem;">STOCK DB 사용법</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" style="margin-top: 0.3rem;">연락처</a>
            </li>
            <!--             

            <li class="ui simple dropdown nav-item" style = "margin-top:2.5%">
              회사 소개 <i class="dropdown icon"></i>
              <div class="menu">
                <a class="item" href="#">서비스 소개</a>
                <a class="item" href="#"></a>
                <a class="item" href="#">연락처</a>
              </div>
            </li> -->

            <div class="nav-item text-gray-e dropdown mt-1 ">
              <a class="nav-link dropdown-toggle text-gray-e" href="#" id="dropdown10" data-bs-toggle="dropdown"
                aria-expanded="false">로그인</a>
              <ul class="dropdown-menu" aria-labelledby="dropdown10">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </div>

          </ul>

        </div>
      </div>
    </nav>
  </header>