.ui.menu .item img.logo {
  margin-right: 1.5em;
}
.main.container {
  margin-top: 7em;
}
.wireframe {
  margin-top: 2em;
}
.ui.footer.segment {
  margin: 5em 0em 0em;
  padding: 5em 0em;
}
.t{
   -webkit-text-decoration-line: line-through; /* Safari */
   text-decoration-line: line-through; 
}
    .text-gray-e{
      color:#63666A;
    }

    .text-yellow-e{
        color:#FFB81C !important;
    }

    .bg-e{
     background-color:#FFB81C !important;
    }
    


    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: "Noto Sans KR", Georgia, "Times New Roman", serif;
    }

  
.nav-scroller {
  position: relative; 
  overflow-y: hidden;
  overflow-x: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;

  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

a:hover {
  background-color:#FFB81C ;
  text-decoration: underline;
  color:#63666A;;
}

.nav-item{
  margin-right: 5rem;
  color:#63666A;
}

.nav-link{
  font-weight:600;
}

/* .ui.list .list>.item, .ui.list>.item, ol.ui.list li, ul.ui.list li {
  line-height: 4rem;
} */

#main{
  background-image: url("images/join.png");
}

a{color: lightgray;
/* text-decoration:underline; */

}

.full-height{height:100%;}

.example3 {
 height: 100%;	
 overflow: hidden;
 position: relative;
}
.example3 h3 {
 position: absolute;
 width: 100%;
 height: 100%;
 margin: 0;
 line-height: 50px;
 text-align: center;
 /* Starting position */
 -moz-transform:translateY(-100%);
 -webkit-transform:translateY(-100%);	
 transform:translateY(-100%);
 /* Apply animation to this element */	
 -moz-animation: example3 15s linear infinite;
 -webkit-animation: example3 15s linear infinite;
 animation: example3 15s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes example3 {
 0%   { -moz-transform: translateY(-100%); }
 100% { -moz-transform: translateY(100%); }
}
@-webkit-keyframes example3 {
 0%   { -webkit-transform: translateY(-100%); }
 100% { -webkit-transform: translateY(100%); }
}
@keyframes example3 {
 0%   { 
 -moz-transform: translateY(-100%); /* Firefox bug fix */
 -webkit-transform: translateY(-100%); /* Firefox bug fix */
 transform: translateY(-100%); 		
 }
 100% { 
 -moz-transform: translateY(100%); /* Firefox bug fix */
 -webkit-transform: translateY(100%); /* Firefox bug fix */
 transform: translateY(100%); 
 }
}

/* INDEX */
.carousel-inner{
  height: 100%;
}

.ad-img{
  height: -webkit-fill-available;
}

@media only screen and (max-width: 992px){
 .row{
  margin-left:1% !important;
  margin-right: 1% !important;
  /* max-width: none !important; */
} 
}

.full-width{
  width:100%;
}

.form-group{
  display: flex;
  flex-direction: column;
}

/* .btn-check {
  position: absolute;
  clip: rect(0,0,0,0);
  pointer-events: none;
} */